@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(opensans.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(opensans-bold.ttf) format('truetype');
}

body, html {
  width: 100%;
  height: 100%;
  background: #000;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', times, arial, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
canvas {
  background: #EF9033;
  display: block;
  width: 100%;
  height: 100%;
}
.gamedata {
  display: none;
  position: absolute;
}
.gameword {
  display: block;
  /* border-radius: 10px; */
  /* background: #ccc; */
  /* background: rgba(255,255,255,0.8); */
  position: absolute;
  /* padding: 10px; */
  /* top: 4px; */
  /* left: 10px; */
  font-size: 6vw;
  bottom: 20px;
  text-align: center;
  width: 100%;  
}
/*
.cover {
  position: absolute;
  top: 80px;
  left: 10px;
  right: 10px;
  bottom: 20px;
  z-index: 2;
  border-radius: 10px;
  background: #ccc;
  background: rgba(255,255,255,0.8);
  transition: transform 0.5s;
  -webkit-transform: translate(-120%,0);
  transform: translate(-120%,0);
} 

.info #info {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.win #win {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.error #error {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.intro #intro {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.cover p {
  text-align: center;
  z-index: 2;
  padding: 10px;
  font-size: 6vw;
}
*/
.scorebutton {
  position: absolute;
  top: 5px;
  display: block;
  right: 75px;
  line-height: 40px;
  font-size: 30px;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #2c3e50;
  color: #bdc3c7;
  border-radius: 50% 50%;
  transition: 0.5s;
}
.navbutton {
  position: absolute;
  top: 5px;
  display: block;
  right: 5px;
  line-height: 40px;
  font-size: 30px;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #2c3e50;
  color: #bdc3c7;
  border-radius: 50% 50%;
  transition: 0.5s;
}
.navbuttonoff {
  position: absolute;
  top: 5px;
  display: block;
  right: 5px;
  line-height: 40px;
  font-size: 30px;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #666;
  color: #ccc;
  border-radius: 50% 50%;
  transition: 0.5s;
}
.actionbutton {
  position: absolute;
  bottom: 20px;
  display: block;
  right: 20px;
  line-height: 60px;
  font-size: 50px;
  border: none;
  width: 60px;
  height: 60px;
  text-align: center;
  background: #2c3e50;
  color: #bdc3c7;
  border-radius: 50% 50%;
  transition: 0.5s;
}
.inlinebutton {
  float: right;
  background: #2c3e50;
  color: #bdc3c7;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 3vw;
}
#infos {
  font-weight: bold;
  right: 55px;
}
.actionbutton.undo {
  background: #2c3e50; /*#F06050;*/
  color: #bdc3c7;
  left: -100px;
  font-weight: bold;
  /* text-shadow: 2px 2px #000; 
  box-shadow: 2px 2px 4px #333; */
}
.play .undo {
  left: 10px;
}
.check p::after {
  content: '✔';
  font-size: 20vw;
  position: absolute;
  top: 10vh;
  z-index: 1;
  left: 60%;
  color: #2c3e50;
  color: rgba(0,200,0,0.4);
}

.toppanel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  margin: 0;
  padding: 5px 10px;
  background: #000;
  background: linear-gradient(to top, #000, #333);
  color: #bdc3c7;
  font-weight: normal;
}
.infopanel h1 {
  font-size: 5vw;
  font-weight: normal;
  padding: 0 10px;
}
.infopanel p {
  font-size: 3vw;
  text-align: left;
  padding: 0 10px;
}  
@media all and (max-width: 320px) {
  .infopanel h1 {
    font-size: 8vw;
    font-weight: normal;
    padding: 0 10px;
  }
  .infopanel p {
    font-size: 5vw;
    text-align: left;
    padding: 0 10px;
  }  
}

.blink_me {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



/* ooooooooo */

.bubble 
{
  display: none;
  position: relative;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 162px;
  min-width: 200px;
  right: 255px;
  min-height: 170px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  padding: 10px;
  text-align: center;
}

.bubble:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 13px 0 13px 34px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -34px;
  top: 131px;
}