@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato'), url(Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 700;
  src: local('Delius'), local('Delius'), url(Delius-Regular.ttf) format('truetype');
}

body, html {
  width: 100%;
  height: 100%;
  background: #FFF8E9;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Delius', times, arial, sans-serif;
}
#top_menu {
  top:0px;
  position: absolute;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
canvas {
  background: #FFF8E9;
  display: block;
  width: 100%;
  height: 100%;
}
.gamedata {
  display: none;
  position: absolute;
}
.gameword {
  display: block;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;  
  font-family: 'Lato', times, arial, sans-serif;
  color: #3A3A3A;
  white-space: nowrap;
}
#mainbutton {
  z-index: 59;
}
#character {
  z-index: 500;
  position: absolute;
  bottom: -4px;
  right: 0px;
  display: block;
  width: 100%;
}
.homebutton {
  z-index: 520;
  position: absolute;
  top: 20px;
  display: block;
  left: 20px;
  height: 26px;
}
.scorebutton {
  z-index: 520;
  position: absolute;
  top: 20px;
  display: block;
  right: 152px;
  height: 26px;
}
.soundbutton {
  z-index: 520;
  position: absolute;
  top: 20px;
  display: block;
  right: 72px;
  height: 26px;
}
.setupbutton {
  z-index: 520;
  position: absolute;
  top: 20px;
  display: block;
  right: 22px;
  height: 26px;
}
.actionbutton {
  z-index: 200;
  position: relative;
  height: 52px;
  border-radius: 50% 50%;
}
.center_actionbutton{
  position: relative;
  bottom: 175px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  /* align-content: center; */
}
.inlinebutton {
  float: right;
  background: #2c3e50;
  color: #bdc3c7;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin-right: 20px;
  font-size: 3vw;
}
#infos {
  font-weight: bold;
  right: 55px;
}
.actionbutton.undo {
  background: #2c3e50; /*#F06050;*/
  color: #bdc3c7;
  left: -100px;
  font-weight: bold;
  /* text-shadow: 2px 2px #000; 
  box-shadow: 2px 2px 4px #333; */
}
.play .undo {
  left: 10px;
}
.check p::after {
  content: '✔';
  font-size: 20vw;
  position: absolute;
  top: 10vh;
  z-index: 1;
  left: 60%;
  color: #2c3e50;
  color: rgba(0,200,0,0.4);
}

.toppanel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  margin: 0;
  padding: 5px 10px;
  background: #000;
  background: linear-gradient(to top, #000, #333);
  color: #bdc3c7;
  font-weight: normal;
}
.infopanel h1 {
  font-size: 5vw;
  font-weight: normal;
  padding: 0 10px;
}
.infopanel p {
  font-size: 3vw;
  text-align: left;
  padding: 0 10px;
}  
@media all and (max-width: 320px) {
  .infopanel h1 {
    font-size: 8vw;
    font-weight: normal;
    padding: 0 10px;
  }
  .infopanel p {
    font-size: 5vw;
    text-align: left;
    padding: 0 10px;
  }  
}

.blink_me {
    animation-name: blinker;
    animation-duration: 1.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    font-family: 'Lato', times, arial, sans-serif;
    color: "#3A3A3A";
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

